@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #727e86;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

li {
  list-style-type: none;
}

th, tr {
  height: 45px;
}

thead tr th {
  text-align: left;
  padding-left: 10px;
}

tbody tr td {
  padding-left: 10px;
}

th, td {
  border: 1px solid rgb(194, 194, 194);
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

#root {
  width: 1024px;
  margin: 0 auto;
}  

/* Common Styles */
.invisible {
  opacity: 0;
}

/* Header */
header {
  margin: 0 24px;
}

header .row  {
  display: block;
} 

.header-controls-pics {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin-left: auto;
}
.header-controls-pic {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  background-image: url(../src/img/header-controls-sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.header-controls-search {
  position: relative;
  z-index: 1;
  background-position: -64px 0;
}
.header-controls-profile {
  position: relative;
  background-position: -32px 0;
}
.header-controls-cart {
  position: relative;
  background-position: 0 0;
}
.header-controls-cart-full {
  position: absolute;
  right: -10px;
  top: -5px;
  display: block;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}
.header-controls-search-form {
  position: absolute;
  right: 65px;
  top: calc(50% - 19px);
  display: block;
  width: 233px;
  height: 38px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  text-align: right;
}
.header-controls-search-form .form-control {
  width: 100%;
  height: 100%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
}

/* Banner */
.banner {
  position: relative;
}

.banner-header {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 42px;
  height: 98px;
  width: 487px;
  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}

/* Preloader */
.preloader {
  margin: 10px auto;  
  position: relative;
  width: 30px;
  height: 30px;
}
.preloader span {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}
.preloader :first-child {
  background: #19A68C;
  animation-delay: -1.5s;
}
.preloader :nth-child(2) {
  background: #ff748b;
  animation-delay: -1s;
}
.preloader :nth-child(3) {
  background: #ffb676;
  animation-delay: -0.5s;
}
.preloader :last-child {
  background: #727e86;
}
@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/* Top Sales */
.top-sales {
  min-height: 300px;
}

/* Catalog */
.catalog {
  min-height: 600px;
}

.catalog-categories {
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.catalog-item-card {
  margin-bottom: 1em;
  border: 1px solid #c5c5c5;/**/
  width: 300px;/**/
  position: relative;/**/
  height: 470px;/**/
  margin: 10px;
}

.catalog-item-size {
  display: inline-block;
  padding: 0 10px;
}

.catalog-item-size.selected {
  background: #727e86;
  border-radius: 15px;
  color: #fff;
}

.catalog-search-form {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #D4E4E6;
  border-radius: 50px;
  margin-bottom: 2em;
}

.catalog-search-form .form-control {
  width: 100%;
  height: 95%;/*  */
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
}

.catalog-categories {
  display: flex;
  justify-content: center;
}

.catalog-item .row .col-5 img {
  width: 300px;
}

.catalog .text-center .btn-outline-primary {
  border-radius: 6px;
}

.catalog .card-body .btn-outline-primary, .card-body .btn-outline-primary {
  border-radius: 6px;
}

/* Footer */
.footer {
  padding: 0 25px;
}

.footer-pay {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0;
}
.footer-pay-systems {
  width: 46px;
  height: 28px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-image: url(../src/img/footer-sprite.png);
}
.footer-pay-systems:not(:first-child) {
  margin-left: 5px;
}
.footer-pay-systems-paypal {
  background-position: -2px -6px;
}
.footer-pay-systems-master-card {
  background-position: -54px -8px;
}
.footer-pay-systems-visa {
  background-position: -104px -8px;
}
.footer-pay-systems-yandex {
  background-position: -154px -8px;
}
.footer-pay-systems-webmoney {
  background-position: -2px -46px;
}
.footer-pay-systems-qiwi {
  background-position: -52px -46px;
}

.footer-social-links {
  margin-top: 10px;
}
.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(../src/img/footer-sprite.png);
}
.footer-social-link-twitter {
  background-position: -107px -42px;
}
.footer-social-link-vk {
  background-position: -157px -42px;
}
.footer-social-link:hover {
  cursor: pointer;
}

.footer-copyright {
  font-size: 0.8em;
}

.footer-contacts-phone {
  display: block;
}

.footer-contacts-email {
  display: block;
}

footer .row .col:nth-child(2) {
  width: 33%;
}

.footer-contacts {
  text-align: end;
}

footer .row {
  display: flex;
  justify-content: space-around;
  margin: 0 -52px;
}

/* Bootstrap */
/* .nav-link.active {
  color: #ff0000;
} */

h2, .h2 {
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.order_success {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.order {
  position: relative;
}

.navbar {
  display: flex;
  position: relative ;
}

.navbar-nav {
  display: flex;

}
.nav-item {
  padding: 0 10px;
}

.navbar-nav .nav-item .active{
  color: #333333;
  font-weight: 600;
}

.top-sales .row  {
  display: flex;
}

.top-sales {
  margin: 0 20px;
}

.card-img-top {
  width: 300px;
  margin-bottom: 80px;
}

.card-body {
  margin: 10px;
  position: absolute;
  bottom: 12px;
}

.form-inline .form-control {
  padding: 0 10px;
  border-radius: 15px;
}

form.card-body {
  position: relative;
  padding: 14px;
  border: 1px solid #d3cdcd;
  border-radius: 6px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-check {
  display: flex;
  flex-direction: row;
}

.form-group .form-control {
  padding: 9px;
  margin: 9px 0 13px 0;
  border: 1px solid #c3c0c0;
  border-radius: 6px;
}

.col-7 table td {
  width: 50%;
  padding: 10px 9px;
} 

.col-7 {
  width: 600px;
  margin-left: 40px;
}

.cart tbody tr td:nth-child(2), thead tr th:nth-child(2) {
  width: 47%;
}

.cart tbody tr td:first-child, thead tr th:first-child {
  width: 4%;
}

.cart tbody tr td:nth-child(3), thead tr th:nth-child(3) {
  width: 9%;
}
.cart tbody tr td:nth-child(4), thead tr th:nth-child(4) {
  width: 9%;
}
.cart tbody tr td:last-child, thead tr th:last-child {
  width: 10%;
}

.cart tbody tr td, thead tr th {
  width: 10%;
}

.cart tbody tr td:last-child, thead tr th:last-child {
  width: 10%;
}

/* btn */
.btn {
  padding: 8px 7px;
  border: 1px solid gray;
  background: white;
}

.btn:hover {
  color: white;
}

.btn-secondary {
  padding: 11px 9px 8px;
  background-color: #5c5f61;
  color: #FFFFFF;
}

.btn-secondary:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-secondary:last-child {
  border-radius: 0 6px 6px 0;
}

.btn-secondary:hover {
  background-color: #7d7c7c;
}

.btn-group {  
  padding: 8px 0;
  margin-left: 10px;
  border: 1px solid gray;
  border-radius: 6px;
}

.btn-sm {
  border: 1px solid red;
  border-radius: 6px;
  color: #ff0000;
}

.btn-sm:hover {
  background-color: red;
}

.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}

.btn-outline-secondary {
  margin: 15px 0 0;
  border: 1px solid #a3a0a0;
  border-radius: 6px;
}

.btn-outline-secondary:hover {
  background-color: #727e86;
}

p .btn-group .btn-outline-primary {
  border-radius: none;
} 

.col-7 .btn-block {
  width: 100%;
  background-color: #fb9999;
  color: white;
  border: 1px solid #fb9999;
  border-radius: 6px;
}

.col-7 .btn-block:hover {
  background-color: #f87575;
  border: 1px solid #f87575;
}

main .row  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-column {
  padding: 0;
}

.text-right {
  text-align: right;
} 

.text-center {
  text-align: center;
}

.empty__cart {
  text-align: center;
}

.collapse {
  width: 100%;
  display: flex;
  justify-content: space-between; 
}

.control__elements {
  margin: auto 0;
}

.product__out__stock {
  padding-left: 10px;
  color: #f87575;
}

.images img {
  max-width: 300px;
  max-height: 280px;
  margin: auto;
  object-fit:contain;
}

.images {
  max-width: 300px;
  height:300px;
}
